.filter-area {
   display: flex;
   width: 60%;

   .search-bar {
      background-color: white;
      position: relative;
      display: flex;
      align-items: center;
      flex: 1;
      width: 80%;
   }

   .search {
      background-color: inherit;
      position: absolute;
      right: 30px;
   }

   input:not(.pin) {
      background-color: inherit;
      outline: none;
      padding: 12px;
      width: 100%;
      margin-left: 0;
   }

   .pin-filter-box {
      border: 2px solid rgba(216, 216, 216, 0.443);
      border-radius: 10px;
      padding: 2.5px 12px;
      display: flex;
      align-items: center;

      &.pinned {
         background-color: $brand-color ;
         border: none;
         padding: 4.5px 14px;
      }
   }
}