.main-notes {
    width: 70%;
    margin: auto;
    position: relative;

    .add-note-btn {
        background-color: darken($bgc, 0%);
        position: fixed;
        bottom: 5%;
        right: $desktop_padding;
        border-radius: 50%;
        font-size: 3em;
        color: rgb(79, 181, 147);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(0);
        transition: transform .5s;
        cursor: pointer;

        &:hover{
            transform: translateY(-10%);
        }

    }
}